*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:cursive;
}
.country-details-wrapper{
    width:100%;
}
.country-details-wrapper .country-details{
    width:90%;
    padding:5%;
    margin:5% auto;
    display:flex;
    justify-content:space-between;
    border-radius:20px;
    box-shadow:3px 3px 15px #000;
}
.country-details-wrapper .country-details .country-flag{
    width:50%;
}
.country-details-wrapper .country-details .country-flag img{
    width:100%;
    height:100%;
}
.country-details-wrapper .country-details .country{
    width:50%;
    text-align:center;
    padding-top:7%;
}
.country-details-wrapper .country-details .country h1{
    font-size:45px;
}
@media only screen and (max-width:900px){
    .country-details-wrapper .country-details{
        flex-direction:column;
    }
    .country-details-wrapper .country-details .country-flag,
    .country-details-wrapper .country-details .country{
        width:100%;
    }
}