*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:cursive;
}
.main-wrapper{
    width:100%;
    padding:2%;
}
.main-wrapper .search-field{
    display:block;
    width:30%;
    margin:3% auto;
    padding:1%;
    border-radius:5px;
    border:none;
    box-shadow:3px 3px 15px #000;
}
.main-wrapper .country-list{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}
.main-wrapper .country-list .country-card{
    width:30%;
    text-align:center;
    box-shadow:3px 3px 15px #000;
    margin-bottom:3%;
    padding:1%;
    border-radius:5%;
    text-decoration:none;
    transform: scale(1);
    transition: transform 0.3s ease-in;
}
.main-wrapper .country-list .country-card.toggle{
    box-shadow:3px 3px 15px #fff;
}
.main-wrapper .country-list .country-card.toggle .header{
    color:#fff;
}
.main-wrapper .country-list .country-card .card .img-container img{
    width:100%;
    height:40vh;
}
.main-wrapper .country-list .country-card:hover{
    transform: scale(1.1);
}
.main-wrapper .country-list .country-card .header{
    color:black;
    margin-top:7%;
}
@media only screen and (max-width:900px){
    .main-wrapper .country-list{
        flex-direction: column;
        text-align:center;
        align-items:center;
        justify-content: center;
    }
    .main-wrapper .country-list .country-card{
        width:85%;
        padding:5%;
    }
    .main-wrapper .search-field{
        width:90%;
        margin:11% auto;
        padding:5%;
    }
}